body { 
	background-color: #881AFC;
	/*font-family: 'Helvetica';*/
	font-family: 'Muli', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
	margin: 0;
}

p { font-size: 1.2rem; }


/*utilities*/

.border { 
	border-top: solid #d8dadc;
	border-bottom: solid #d8dadc;
	padding: 1rem 0;
}

.margin-0 { margin: 0; }


.card { 
	background-color: #fff;
	width: 34%; 
	/*height: 500px; */
    border: 0rem solid;
    border-radius: 0.5rem;
    padding: 2.5rem;
}

.intro { 
	
}

#total-number {
	color: #881AFC;
	font-size: 1.5rem;
    font-weight: 800;
}

/*#value-total {
	font-size: 1.2rem;
}*/

#total-number, #value-total { 
	margin-top: 0.5rem; margin-bottom: 0;
}

.quick-view {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.mini-card {
	background-color: #f5f6f7;
	padding: 1rem;
	text-align: center;
	width: 42%;
	border-radius: 1rem;
	margin-top: 1rem;
}

.value { 
	font-size: 3rem;
	font-weight: 700;
	margin: 0;
}

.description {
	margin-top: 0;
	color: #98a4ae;
    font-weight: 600;
    /*font-size: 1.2rem;*/
}

.deal {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.title {color: #6E5FDF; font-weight: 600;}

.client {
	flex-basis: 28%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.deals-container { margin-top: 1rem; }

.metrics {}

.graph-representation {  }
